{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>상세정보</h1>
  <hr>

  <div class="card mb-3" style="max-width: 1000px; background-color:Cornsilk;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ predict.poster_url.url }}" class="img-fluid rounded-start" alt="{{ predict.poster_url.url }}" style="height:490px;">
      </div>
      <div class="col-md-8">
        <div class="card-body container">
          <h3 class="card-title fw-bold">{{ predict.title }}</h3>
          <div>
            <h6>작성 시각 : {{ predict.updated_at }}</h6>
            <p>작성자: {{ predict.user }}</p>
          </div>
          <div style="background-color:white;height:350px; container-fluid; padding: 20px;">
            <h5 class="card-text">{{ predict.content }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    {% if request.user == predict.user %}
    <a class="btn btn-outline-secondary" href="{% url 'predicts:update' predict.pk %}">수정</a>
    <form action="{% url 'predicts:delete' predict.pk %}" method="POST">
      {% csrf_token %}
      <input id='deleteBtn' class="btn btn-outline-danger" type="submit" value="삭제">
    </form>

  {% endif %}
</div>

  <hr>
  <h1>예측 결과는 : <span id='answer' style="color:white"  onmouseover=answer_onmouseover() onmouseout=answer_onmouseout()  >{{predict.predict_name}}</span> </h1>

  <a  target='_blank' href="https://www.google.com/search?q={{predict.predict_name}}&tbm=isch&ved=2ahUKEwjX7pbkobn3AhVPA6YKHQXZAf4Q2-cCegQIABAA&oq=Persian_cat&gs_lcp=CgNpbWcQAzIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjoHCCMQ7wMQJ1DRAljRAmDsBGgAcAB4AIABeIgB7AGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=x9hrYpfvDM-GmAWFsofwDw&bih=880&biw=1104">
    {{predict.predict_name}}가 뭔지 궁금하신가요? 궁금하시다면 눌러주세요!</a>
  <div>
  </div>

  <br>
  <hr>
  <h4>댓글 목록</h4>
  <ul>
    {% for comment in comments %}

      <li class="d-flex">
        <div class="mt-2">
         {{ comment.content }}   _{{ comment.user }}
        </div>
        {% if request.user == comment.user %}
          <form action="{% url 'predicts:comment_delete' predict.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <div class="my-1">
            <input  type="submit" class="btn btn-sm btn-outline-secondary mx-2" value="삭제">
            </div>
          </form>
        {% endif %}
      </li>

    {% endfor %}
  </ul>


  {% if request.user.is_authenticated %}
    <form action="{% url 'predicts:comment_create' predict.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form.content }}
      <input type="submit" class="btn btn-outline-secondary mt-2" value="작성" >
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">댓글을 작성하려면 로그인하세요.</a>
  {% endif %}
  <hr>
  <a class="btn btn-outline-info" href="{% url 'predicts:index' %}">뒤로가기</a>

  <script>
      function answer_onmouseover(){
          const answerTag = document.getElementById('answer')
          answerTag.style.color = "black"
      }
      function answer_onmouseout(){
          const answerTag = document.getElementById('answer')
          answerTag.style.color = "white"
      }
      const deleteBtn = document.getElementById('deleteBtn')

      
  </script>

{% endblock content %}
