{% extends 'base.html' %}

{% block content %}
<h2>{{person.username}}</h2> 

<h2>zxdads</h2>
<div class="row">
  {% for predict in person.like_images.all %}
  <article class="col-sm-6 col-md-4">
    <div class="card" >
      <a href="{% url 'predicts:detail' predict.pk %}">
        <img src="{{ predict.poster_url.url }}" width="370px" height="400px" class="card-img-top" alt="...">
      </a>
      <div class="card-body ">
        <div class='d-flex justify-content-between'>
          <h5 class="card-title">{{predict.title}}</h5>
        </div>
        <a class="btn btn-success" href="{% url 'predicts:detail' predict.pk %}">상세정보</a>
      </div>
    </div>
  </article>
  {% endfor %}
</div>

{% endblock content %}